
.box1{
  display: block;
  background-color: #000;
  height: 70px;
  width: 500px;
  margin: 0 auto;
}
.box2,p{
  display: block;
  background-color: #000;
  height: 60px;
  width: 500px;
  margin: 10px auto;
  padding-top: 10px;
}
h1{
  font-family: Verdana;
  font-size: 50px;
  text-align: center;
  color: #fff;

}

a{
  display: block;
  font-family: Verdana;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

body{
  background-image: url(http://bgfons.com/upload/wood%20_texture3178.jpg);
}

div#gamePlace{
	background: url(http://previews.123rf.com/images/jirkaejc/jirkaejc1009/jirkaejc100900037/7792397-the-checkered-tablecloth-on-wooden-table-Stock-Photo-table-picnic-cloth.jpg);
	border:#000 5px solid;
  outline-style: double;
  outline-color: #000;
	width:1000px;
	height:800px;
	padding:24px;
	margin: 0px auto;
}

.card {
  background-image: url(http://www.clipartbest.com/cliparts/xcg/KK4/xcgKK4qki.jpeg);
  background-size: 170px;
  background-repeat: no-repeat;
  padding: 10px;
  float: left;
  margin: 10px;
  width: 150px;
  height: 150px;
  border: 5px solid #fff;
  border-radius: 25px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  margin: 0px auto;
}
p{
  font-family:Verdana;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
